.container{
    margin: auto;
    max-width: 800px;
    text-align: left;
    padding: 1vw;
    color: rgb(0, 86, 23);
}

#backgroundcolor{
    background-color: rgb(186, 255, 240);
}

#legendfieldset{
    border: 3px solid black;
}

h1{
    font-size: 2vw;
    padding: 0 0.5vw 0 0.5vw;
}

h2{
    font-size: 1.2vw;
    line-height: 0;
}

#firstname, #city, #postal, .rowemail{
    margin-right: 1vw;
}

#lastname, #region, #country, .rowphonenumber{
    margin-left: 1vw;
}

input[type=text], input[type=email]{
    height: 2px;
    font-size: 1vw;
    padding: 1vw;
    box-sizing: border-box;
    width: 100%;
    border:1px solid rgb(0, 86, 23);
    background-color: rgb(213, 255, 255);
}

#maleradiobtn, #femalegenderbtn{
    width: 10%;
}

#country{
    padding: 0 1vw 0 1vw;
    box-sizing: border-box;
    width: 100%;
    border:1px solid rgb(0, 86, 23);
    background-color: rgb(213, 255, 255);
}

.rowname, .rowemailandphone, .rowgender,.rowstreetline1, .rowstreetline2, .rowcity, .rowpostal{
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
}

.inputrowname{
    display: flex;
}

.rowemailandphone{
    display: flex;
}

.radiogender{
    display: flex;
}

.inputrowcity{
    display: flex;
}

.inputrowpostal{
    display: flex;
}

.buttonsendrow{
    display: flex;
    justify-content: center;
    text-align: center;
}

.rowemail, .rowphonenumber{
    width: 50%;
}

#buttontypeone{
    width: max-content;
    font-size: 1vw;
    margin-top: 2vw;
    color: white;
    border: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 1vw 2vw 1vw 2vw;
    background-color: rgb(0, 106, 71); 
    cursor:pointer;
}

#buttontypeone:hover {
    text-decoration: underline;
}