h1, h3{
  text-align: center;
}

.container {
  max-width: 800px;
  margin: auto;
  border: 5px solid black;
  background-color: rgb(234, 76, 76);
}

.headerpart {
  display: flex;
  padding: 20px;
}

#leftside{
  width: 30%;
}

#rightside{
  width: 70%;
  display: flex;
  justify-content:space-between;
  flex-direction:column;
}

#logo{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border: 3px solid black;
}

#phonenumber{
  background-color: white;
  width: 200px;
  margin-left: auto;
  background-color: rgb(234, 155, 76);
  border: 3px solid black;
}

#menu{
  background-color: white;
  width: 350px;
  margin-left: auto;
  background-color: rgb(234, 155, 76);
  border: 3px solid black;
}

.imageslideshow {
  background-color: aqua;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 200px;
  border: 3px solid black;
}

.contentbody{
  display: flex;
}

#textcontent{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  width: 65%;
  height: 200px;
  padding: 20px;
  margin: 20px;
  border: 3px solid black;
}

#sidebar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  width: 35%;
  height: 200px;
  padding: 20px;
  margin: 20px;
  border: 3px solid black;
}

.footer{
  background-color: blue;
  padding: 20px;
  margin: 20px;
  border: 3px solid black;
}

@media screen and (max-width: 600px) {
  .headerpart {
    flex-wrap: wrap;
  }
    
  #leftside{
    width: 100%;
  }

  #logo{
    margin: auto;
  }

  #rightside{
    width: 100%;
    
  }

  #phonenumber{
    margin-top: 20px;
    width: 100%;
  }

  #menu{
    margin-top: 20px;
    width: 100%;
  }

  .contentbody {
    flex-wrap: wrap;
  }

  #textcontent{
    width: 100%;
  }

  #sidebar{
    width: 100%;
  }

}