.item1 {
     grid-area: header; 
}
.item2 {
     grid-area: menn; 
}
.item3 {
     grid-area: main; 
}
.item4 {
     grid-area: rigggg; 
}
.item5 {
     grid-area: footer; 
}
.item6 {
    grid-area: gsdfgsdf; 
}


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menn main main main main rigggg'
    'menn footer footer footer footer footer';

  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}