.partoneaboutme{
    display: inline-block;
    width: 100%;
    /* background-color: #112D4E; */
    background-image: radial-gradient(#004798, #112D4E, #112D4E);
    color: white;
}

.partoneaboutme h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    line-height: 2;
    padding: 0.5vw;
    margin-bottom: -1vw;
}

.partoneaboutme p{
    text-align: center;
    font-size: 1.5vw; 
    line-height: 1.8;
    padding-bottom: 5vw;
}

.partonefooter{
    font-family: 'Dancing Script', cursive;
    margin-top: -5px;
    width: 100%;
    background-color: black;
    line-height: 0.9;
    color: white;
    font-size: 2.2vw;
    text-align: center;
    padding: 0.1vw 0;
}

.parttwopersonalinformation:before {
    height: 55px;
    background-color: #DBE2EF;
    display: block;
    content: '';
}

.parttwopersonalinformation{
    display: inline-block;
    width: 100%;
    background-color: #DBE2EF;
    color: black;
    padding-bottom: 1vw;
}

.parttwopersonalinformation h2{
    text-align: center;
    font-size: 3.2vw;
    font-weight: bold;
    line-height: 1;
    -webkit-margin-before: 1vw;
    -webkit-margin-after: 1vw;
    padding: 0.5vw;
}

.parttwoinformationrowone, .parttwoinformationrowtwo{
    display: flex;
}

.informationboxleft{
    background-color: #112D4E;
    border: double black 1.5vw;
    color: white;
    width: 70%;
    height: max-content;
    margin: 3vw 2vw 0vw 6vw;
}

.informationboxright{
    background-color: #112D4E;
    border: double black 1.5vw;
    color: white;
    width: 70%;
    height: max-content;
    margin: 3vw 6vw 0vw 2vw;
}

.informationboxleft h3, .informationboxright h3{
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.informationboxleft p, .informationboxright p{
    font-size: 1.3vw;
    text-align: center;
}

.partthreeschoolattended:before {
    height: 55px;
    background-image: linear-gradient(to bottom, #DBE2EF 80%, #B9E0FF 20%);
    display: block;
    content: '';
}

.partthreeschoolattended{
    display: inline-block;
    width: 100%;
    background-color: #B9E0FF;
    padding-bottom: 4vw;
}

.partthreeschoolattended h2{
    text-align: center;
    font-size: 3.2vw;
    font-weight: bold;
    line-height: 1.4;
    padding: 0.5vw;
}

.primaryschool, .secondaryschool, .universitycollege{
    display: flex;
}

.leftprimaryschool, .rightsecondaryschool, .leftuniverysitycollege{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 2vw 0;
    border-bottom: solid black 2px;
}

.emptycolumn1{
    width: 7%;
}

.rightprimaryschool, .leftsecondaryschool, .rightuniverysitycollege{
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw 0;
}

.rightprimaryschool h5, .leftsecondaryschool h5, .rightuniverysitycollege h5{
    font-family: 'Roboto';
    font-size: 1.4vw;
    line-height: 0;
}

.school1, .school2, .school3{
    width: 80%;
    border-radius: 25px;
    box-shadow: 1.5vw 1.5vw 10px #ccc;
    
}

.school1:hover, .school2:hover, .school3:hover{
    width: 90%;
    
}

@media screen and (max-width: 800px) {
    .partoneaboutme h2{
        font-size: 4.5vw;
    }

    .partoneaboutme p{
        font-size: 1.8vw; 
    }

    .partonefooter{
        font-size: 3vw;
    }

    .parttwopersonalinformation:before {
        height: 20px;
    }

    .parttwopersonalinformation h2, .partthreeschoolattended h2{
        font-size: 3.8vw;
    }

    .informationboxleft h3, .informationboxright h3{
        font-size: 2.5vw;
    }
    
    .informationboxleft p, .informationboxright p{
        font-size: 1.8vw;
    }
}

@media screen and (max-width: 480px) {    
    .parttwoinformationrowone, .parttwoinformationrowtwo{
        flex-direction: column;
    }

    .partoneaboutme h2{
        font-size: 5vw;
    }

    .partoneaboutme p{
        font-size: 2vw; 
    }

    .partonefooter{
        font-size: 3vw;
    }

    .parttwopersonalinformation h2, .partthreeschoolattended h2{
        font-size: 4.5vw;
    }

    .informationboxleft{
        margin: auto;
        margin-top: 3vw;
    }
    
    .informationboxright{
        margin: auto;
        margin-top: 3vw;
    }

    .primaryschool, .secondaryschool, .universitycollege{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .leftprimaryschool{
        order: 1;
    }

    .rightprimaryschool{
        order: 2;
    }

    .leftsecondaryschool{
        order: 2;
    }

    .rightsecondaryschool{
        order: 1;
    }

    .leftuniverysitycollege{
        order: 1;
    }

    .rightuniverysitycollege{
        order: 2;
    }
    
    .rightprimaryschool, .leftsecondaryschool, .rightuniverysitycollege{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 0;
        padding: 4vw 0;
        margin-left: 25vw;
    }

    .rightprimaryschool h5, .leftsecondaryschool h5, .rightuniverysitycollege h5{
        font-size: 2vw;
    }

    .leftprimaryschool, .rightsecondaryschool, .leftuniverysitycollege{
        width: 100%;
        display: flex;
        padding: 2vw 9vw;
        border: none;
    }
    
    .emptycolumn1{
        width: 0%;
    }
}

@media screen and (max-width: 320px) {
    #kmtitle{
        display: none;
    }
}