.partoneintroduction{
    display: flex;
    background-image: radial-gradient(#004798, #112D4E, #112D4E);
    color: white;
}

.partoneintroductionleft{
    width: 60%;
    padding: 5vw 0 0 10vw
}

.partoneintroductionleft h2{
    font-size: 3.5vw;
    line-height: 2;
    font-family: 'Poppins', sans-serif;
}

.partoneintroductionleft p{
    font-size: 1.5vw; 
    line-height: 1.8;
}

.buttongetstarted, .buttomyfavourite{
    font-size: 1vw;
    color: white;
    border: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 1vw 3vw 1vw 3vw;
    background-image:linear-gradient(to right, #09008a, #6358fb);  
    cursor:pointer;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.buttomytravel{
    font-size: 1vw;
    color: white;
    border: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 1vw 3vw 1vw 3vw;
    background-color: #112D4E;
    cursor:pointer;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.buttonsend{
    font-size: 1vw;
    color: white;
    border: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 1vw 3vw 1vw 3vw;
    background-color: #112D4E;
    cursor:pointer;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.buttongetstarted:hover, .buttomyfavourite:hover{
    background-image:linear-gradient(to bottom, #6358fb, #09008a); 
}

.buttomytravel:hover, .buttonsend:hover{
    background-image:linear-gradient(to right, #09008a, #6358fb);  
}

.partoneintroductionright{
    width: 40%;
    margin: 7vw;
}

#kienmingpic{
    border-radius: 50%;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.parttwoaboutme:before {
    height: 55px;
    background-color: #112D4E;
    display: block;
    content: '';
}

.parttwoaboutme{
    display:inline-block;
    width: 100%;
    background-color: #DBE2EF;
    padding-bottom: 3vw;
}

.parttwoaboutme h2{
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    line-height: 1.5;
    padding: 0.5vw;
    margin-bottom: -1vw;
}

.parttwoaboutme p{
    text-align: center;
    font-size: 1.5vw; 
    line-height: 1.5;
}

.aboutmecontainer{
    display: flex;
}

.parttwoaboutmeleft{
    width: 50%;
    display: flex;
    justify-content: center;
}

.parttwoaboutmeright{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.parttwoaboutmeright h4{
    font-size: 2vw;
    line-height: 0;
}

.imgandbtn{
    display: flex; 
    height: 150px;
}

#catpic{
    margin: 2vw; 
    width: 120px;
    height: 120px;
}

#wrapbuttondiv{
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonaboutme{
    font-size: 1vw;
    min-width: 5vw;
    min-height: 5vw;
    color: white;
    border: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
    background-color: #112D4E; 
    cursor:pointer;
}

.buttonaboutme:hover {
    background-image:linear-gradient(to right, #09008a, #6358fb);
}

.basicinformationbox{
    background-color: #112D4E;
    border: double black 1.5vw;
    color: white;
    width: 70%;
    height: max-content;
    margin-bottom: 3vw;
}

.basicinformationbox h3{
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.basicinformationbox p{
    font-size: 1.3vw;
    text-align: left;
    padding-left: 9vw;
}

.parttwofooter, .partfourfooter{
    font-family: 'Dancing Script', cursive;
    margin-top: -5px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 2.5vw;
    text-align: center;
    padding: 0.2vw 0;
}

.partthreemyfavourite{
    display: inline-block;
    width: 100%;
    background-color: #B9E0FF;
    text-align: center;
}

.partthreemyfavourite h2{
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    line-height: 1.2;
    padding: 0.5vw;
}

.partthreemyfavourite p{
    font-size: 1.5vw; 
    line-height: 1.5;
}

.sportmanbox{
    margin: 2vw;
    border-radius: 10px;
}

.sportmanbox:hover{
    width: 250px;
    height: 350px;
}

#travelback{
    width: 100%;
    height: 600px;
}

.partfivetravel{
    display: inline-block;
    width: 100%;
    background-color: #D9D9D9;
    text-align: center;
}

.partfivetravel h2{
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    line-height: 1.2;
    padding: 0.5vw;
}

.partfivetravel p{
    text-align: center;
    font-size: 1.5vw; 
    line-height: 1.5;
}

.partfivetravelrowone, .partfivetravelrowtwo{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.travelimg1{
    width: 33.33%;
    height: 300px;
}

.rownameandphone , .rowemail, .rowmessage{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0.5vw 0;
}

#name{
    width: 45%;
    height: 30px;
}

#phonenumber{
    width: 45%;
    height: 30px;
}

#email{
    width: 100%;
    height: 30px;
}

#message{
    width: 100%;
}

.partsixdetailfooter{
    display: flex;
    background-color: #F9F7F7;
}

.partsixdetailfooter a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 33%;
    border: solid black 1px;
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
    padding: 2vw 1vw 1vw 1vw;
}

.partsixdetailfooter h4{
    font-size: 1.5vw;
    line-height: 0;
}

.detailrow{
    display: flex;
    justify-content: center;
}

.circle2{
    position: relative;
    display: flex;
    width: 3vw;
    height: 3vw;
    margin: 5px;
    border-radius: 50%;
    background-color: #112D4E;
}

.circle2 i{
    font-size: 1vw;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    #wrapbuttondiv{
        height: 120px;
    }

    .imgandbtn{
        height: 120px;
    }

    #catpic{
        max-width: 100px;
        max-height: 100px;
    }

    #travelback{
        height: 500px;
    }

}

@media screen and (max-width: 800px) {
    .partoneintroductionleft h2{
        font-size: 4.5vw;
    }
    
    .partoneintroductionleft p{
        font-size: 1.8vw; 
    }

    .buttongetstarted, .buttomyfavourite, .buttomytravel, .buttonsend{
        font-size: 1.5vw;
        padding: 2vw 3vw;
    }

    .buttonaboutme{
        font-size: 1.5vw;
        padding: 3vw;
    }

    .partoneintroductionright{
        padding-top: 5vw;
        margin: 10vw;
    }

    .imgandbtn{
        height: 120px;
    }

    #catpic{
        max-width: 100px;
        max-height: 100px;
    }

    .sportmanbox{
        margin: 2vw;
        height: 200px;
        width: 180px;
    }
    
    .sportmanbox:hover{
        width: 230px;
        height: 230px;
    }

    #keepsmile, .partthreemyfavourite p, .partfivetravel p{
        font-size: 1.8vw;
    }

    .basicinformationbox{
        width: 85%;
    }

    .basicinformationbox h3{
        font-size: 2.5vw;
    }

    .basicinformationbox p{
        font-size: 2vw;
    }

    #travelback{
        height: 400px;
    }

    .parttwofooter, .partfourfooter{
        font-size: 3.2vw;
    }

    .partfivetravelrowone, .partfivetravelrowtwo{
        flex-direction: column;
    }

    .travelimg1{
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 600px) {
    .imgandbtn{
        height: 80px;
    }

    #wrapbuttondiv{
        height: 95px;
    }

    #catpic{
        max-width: 70px;
        max-height: 70px;
    }
}

@media screen and (max-width: 480px) {
    .partoneintroductionleft h2{
        font-size: 5vw;
    }

    .partoneintroductionleft p{
        font-size: 2.4vw;
    }

    .partoneintroduction{
        flex-direction: column;
    }

    .partoneintroductionleft{
        width: 80%;
        order: 2;
        text-align: center;
    }

    .partoneintroductionright{
        padding-top: 10vw;
        margin: 5vw;
        width: 90%;
        order: 1;
    }

    #kienmingpic{
        height: 180px;
        width: 180px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .aboutmecontainer{
        flex-direction: column;
    }

    .parttwoaboutmeleft{
        order:1;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .parttwoaboutmeright{
        order:2;
        margin-left: 35%;
    }

    .sportmanbox{
        margin: 2vw;
        height: 200px;
        width: 150px;
    }
    
    .sportmanbox:hover{
        width: 180px;
        height: 220px;
    }

    #keepsmile, .partthreemyfavourite p, .partfivetravel p{
        font-size: 2.2vw;
    }

    .partthreemyfavourite h2, .parttwoaboutme h2{
        font-size: 5vw;
    }

    .buttongetstarted, .buttomyfavourite, .buttomytravel, .buttonsend{
        font-size: 2vw;
        padding: 2vw 3vw;
    }

    #travelback{
        height: 250px;
    }

    .parttwofooter, .partfourfooter{
        font-size: 4vw;
    }

    .partfivetravel h2{
        font-size: 5vw;
    }

    .partfivetravel p{
        font-size: 2.2vw;
    }

    .travelimg1{
        height: 200px;
    }

    .partsixdetailfooter{
        flex-direction: column;
        border-left: none;
        border-right: none;
        border-bottom: none;
        width: 100%;
    }

    .partsixdetailfooter a{
        border-left: none;
        border-right: none;
        width: 100%;
        padding: 0;
        border-bottom: solid black 1px;
        font-size: 1.5vw;
    }
    
    .partsixdetailfooter h4{
        font-size: 2vw;
        line-height: 0;
    }

    .partsixdetailfooter h3{
        font-size: 2.4vw;
        line-height: 1;
    }
}

@media screen and (max-width: 320px) {
    #kmtitle{
        display: none;
    }
}


