/* achievementbox */
.achievementbox i {
    display: flex;
    justify-content: center;
    color: gold;
    font-size: 3vw;
}

.achievementbox{
    background-color: #112D4E;
    width: 20%;
    box-sizing: border-box;
    padding: 2vw 0;
    margin: 2vw 1vw 1vw 1vw;
    border: double black 5px;
    box-shadow: 0 1vw 1vw 0 rgb(150, 150, 150);
    text-align: justify;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.achievementbox p{
    color: white;
    text-align: center;
    margin-top: 1.5vw;
    padding: 0 2vw;
    font-size: 1vw;
}

.ziijiaachievements{
    display: flex;
    justify-content: center;
    background-color: rgb(13, 16, 30);
}

.kdachievements{
    display: flex;
    justify-content: center;
    background-color: rgb(13, 16, 30);
}

.messiachievements{
    display: flex;
    justify-content: center;
    background-color: rgb(13, 16, 30);
    padding-bottom: 55px;
}

.partoneintroduction{
    display: flex;
    background-image: radial-gradient(#004798, #112D4E, #112D4E);
}

.partoneintroductionleft{
    width: 40%;
    display: flex;
    justify-content: right;
}

#panda{
    width: 75%;
    height: auto;
    
}

.partoneintroductionright{
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3vw 0;
}

.partoneintroductionright h2{
    font-size: 3.2vw;
    line-height: 1.8;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.partoneintroductionright p{
    font-size: 1.4vw; 
    line-height: 1.8;
    color: white;
    padding: 0 8vw;
}

.parttwoleeziijiaheader:before{
    height: 55px;
    background-color: #112D4E;
    display: block;
    content: '';
}

.partthreekdheader:before, .partfourmessiheader:before {
    height: 55px;
    background-color: rgb(13, 16, 30);
    display: block;
    content: '';
}

.parttwoleeziijiaheader, .partthreekdheader, .partfourmessiheader{
    display: inline-block;
    width: 100%;
    background-color: #B9E0FF;
    border-bottom: solid black 2px;
}

.parttwoleeziijiaheader h2, .partthreekdheader h2, .partfourmessiheader h2{
    text-align: center;
    font-size: 3vw;
    line-height: 0.7;
}

.parttwoleeziijiaheader h3, .partthreekdheader h3, .partfourmessiheader h3{
    text-align: center;
    font-size: 2.5vw;
    line-height: 0;
}

.parttwoleeziijiaheader, .partthreekdheader, .partfourmessiheader{
    display: inline-block;
    width: 100%;
    background-color: #B9E0FF;
}

.parttwoleeziijia{
    background-color: #DBE2EF;
    padding: 3vw;
}

.partthreekd, .partfourmessi{
    background-color: #DBE2EF;
    display: flex;
    padding-bottom: 3vw;
}

#ziijia{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2vw 2vw 10px rgb(52, 52, 52);
}

#ziijia:hover{
    width: 60%;
}

.parttwoleeziijia p, .partthreekd p, .partfourmessi p{
    font-size: 1.5vw; 
    line-height: 1.5;
    padding: 2vw 10vw 0 10vw;
    text-align: center;
}

.partthreekdleft{
    width: 60%;
    padding: 3vw;

}

.partthreekdright{
    padding: 2vw;
    width: 40%;
}

#kd{
    width: 75%;
    box-shadow: 2vw 2vw 10px rgb(52, 52, 52);
}

#kd:hover{
    width: 85%;
}

.partfourmessileft{
    padding: 2vw;
    width: 40%;
}

.partfourmessiright{
    width: 60%;
    padding: 2vw;
}

#messi{
    width: 75%;
    box-shadow: -2vw 2vw 10px rgb(52, 52, 52);
    float: right;
}

#messi:hover{
    width: 85%;
}

@media screen and (max-width: 1000px) {
    .achievementbox{
        width: 25%;
    }
}

@media screen and (max-width: 800px) {
    #panda{
        padding-top: 2vw;
        width: 85%;
    }

    .partoneintroductionright h2{
        font-size: 4vw;
    }

    .partoneintroductionright p{
        font-size: 1.8vw; 
    }

    .achievementbox p{
        font-size: 1.3vw;
    }

    .parttwoleeziijiaheader:before, .partthreekdheader:before, .partfourmessiheader:before {
        height: 10px;
    }

    .messiachievements{
        padding-bottom: 10px;
    }

    .parttwoleeziijia p, .partthreekd p, .partfourmessi p{
        font-size: 2vw; 
        line-height: 1.8;
    }

    .partthreekdright{
        padding: 8.5vw 3vw;
    }

    .partfourmessileft{
        padding: 10vw 3vw;
        width: 40%;
    }

    .partfourmessiright{
        width: 60%;
        padding: 1vw;
    }
}

@media screen and (max-width: 600px) {
    .kdachievements, .ziijiaachievements, .messiachievements{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .achievementbox{
        width: 30%;
    }

    .achievementbox p{
        font-size: 1.4vw;
    }

}

@media screen and (max-width: 480px) {    
    .partoneintroduction{
        flex-direction: column;
    }

    .partoneintroductionleft{
        width: 100%;
        justify-content: center;
    }

    #panda{
        width: 40%;
        margin: -2px 0 -15px 0;

    }

    .partoneintroductionright{
        width: 100%;
    }

    .partoneintroductionright h2{
        font-size: 4.6vw;
        line-height: 0;
    }

    .partoneintroductionright p{
        font-size: 2.3vw; 
        line-height: 1.8;
    }

    .parttwoleeziijiaheader h2, .partthreekdheader h2, .partfourmessiheader h2{
        font-size: 4vw;
    }
    
    .parttwoleeziijiaheader h3, .partthreekdheader h3, .partfourmessiheader h3{
        font-size: 3.2vw;
    }
    
    .parttwoleeziijia p, .partthreekd p, .partfourmessi p{
        font-size: 2.2vw; 
    }

    .achievementbox{
        width: 40%;
    }

    .achievementbox i {
        font-size: 4vw;
    }

    .achievementbox p {
        font-size: 1.8vw;
    }

    #ziijia{
        width: 42%;
        height: 35vw;
    }

    #ziijia:hover{
        width: 47%;
        height: 40vw;
    }

    .partthreekd, .partfourmessi{
        flex-direction: column;
        width: 100%;
    }

    .partthreekdleft{
        order: 2;
        padding: 0;
        width: 100%;
        font-size: 1.7vw;
    }

    .partthreekdright{
        order: 1;
        width: 100%;
        padding: 3vw 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #kd{
        float: none;
        width: 40%;
    }

    #kd:hover{
        width: 45%;
    }
    
    .partfourmessileft{
        order: 1;
        width: 100%;
        padding: 3vw 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .partfourmessiright{
        order: 2;
        padding: 0;
        width: 100%;
    }

    #messi{
        float: none;
        width: 40%;
    }

    #messi:hover{
        width: 45%;
    }
}

@media screen and (max-width: 320px) {
    #kmtitle{
        display: none;
    }
}