h1 { 
    font-size: 5vw; 
}

p {
    font-size: 22px; 
}

.container {
    height:95vh;
    display: flex;
    font-family: 'Secular One', sans-serif; 
}

#leftdiv {
    flex: 1;
}

#container1{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    margin: 0px;
    padding-left: 90px;
    padding-right: 90px;
    text-align: center;
    width: max-content;
    height: max-content;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    border-right: 5px solid black;
}

#rightdiv {
    flex: 1;
    background-image: url(../images/furniture.jpg);
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    margin-left: 5vw;
}
